p {
	color:rgb(212,175,55);
	
	font-family: sans-serif;
}

li{
	color:rgb(212,175,55);
	font-family: sans-serif;
}

h1 {
	color:rgb(212,175,55);
	
	font-family: sans-serif;
}
h2{
	color:rgb(212,175,55);
	
	font-family: sans-serif;
}

a {
	color:rgb(212,175,55);
	
	font-family: sans-serif;

}


i{
	color:rgb(212,175,55);


}


.colorblanco{
	color:#FFFFFF;
}


.colazul{
	color:rgb(145,188,210);

}


.centrado1{
	text-align: center; 

}



.izq{
	text-align: left;
}


.dere{
	text-align: right;
}


#navegador ul{
list-style-type: none;
text-align: center;
}

#navegador li{
display: inline;
text-align: center;
margin: 0 10px 0 0;
}

#navegador li a {
padding: 2px 7px 2px 7px;
color: #666;
background-color: #eeeeee;
border: 1px solid #ccc;
text-decoration: none;
}

#navegador li a:hover{
background-color: #333333;
color: #ffffff;
}



.columnas{
column-count:2;
column-gap:20px;
}















/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color:rgb(36,36,36); /*Color de la barra menu*/
}

/* Navigation links */
.navbar a {
	font-family: sans-serif;
  float: left;
  font-size: 16px;
  color: rgb(0,255,255); /*Color boton*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
	font-family: sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  color:rgb(0,255,255);  /*Color boton despliegue*/
  padding: 14px 16px;
  background-color: inherit;
  font-family: sans-serif;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:rgb(218,247,166); /*fondo botones*/
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color:rgb(144,12,63); /*Color fondo desglose*/
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: rgb(151,76,277); /*Color de la letra desglose*/
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: rgb(170,189,78); /*Fondo letras desglose*/
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}